body {
	/* background-image: url("/universal-good-shop/res/img/sea-bg.jpg"); */
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	width: 100%;
	height: 100%
}

#main-header {
	z-index: 3;
}

#loading-div {
	position: fixed;
	margin: auto;
	width: 100%;
	text-align: center;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #3498db; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@
keyframes spin { 0% {
	transform: rotate(0deg);
}

100%
{
transform
:
 
rotate
(360deg);
 
}
}
.app_container {
	/*  border: solid 1px; */
	padding: 0;
	background-color: white;
	min-height: 100vh;
}

a:hover {
	cursor: pointer;
	color: #cccccc;
	color: inherit;
}

.header-a:hover {
	cursor: pointer;
	color: inherit;
}

.welcoming-h1 {
	
}

.welcoming-h1:hover {
	background-color: rgba(200, 200, 200, 0.5);
}

.content-wrapper {
	
}

.header {
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	height: 15vh;
	/*
	border: solid 1px; */
}

.footer {
	width: 100%;
	margin: 0;
	padding: 20px;
	height: 15vh;
	/*  border: solid 1px; */
}

.box-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

.box-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	z-index: 2;
}

/******* COMMON **********/
.clickable:hover {
	cursor: pointer;
	background-color: #cccccc;
}

.center-aligned {
	text-align: center;
}

.left-aligned {
	text-align: left;
}

/******MENUS*******/
ul#menu-1 li {
	display: inline;
}

/******* REPORT *******/
.chart-item-hr {
	margin: 5px;
	height: 15px;
}