<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
	  http://www.springframework.org/schema/mvc/spring-mvc.xsd
	  http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
	   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">




	<!-- <bean id="urlPathHelper" class="org.springframework.beans.factory.config.MethodInvokingBean"> 
		<property name="targetClass" value="org.springframework.web.util.UrlPathHelper" 
		/> <property name="targetMethod" value="setRemoveSemicolonContent" /> <property 
		name="arguments" value="false" /> </bean> <bean class="org.springframework.beans.factory.config.MethodInvokingBean"> 
		<property name="targetClass" value="org.springframework.web.servlet.config.annotation.PathMatchConfigurer" 
		/> <property name="targetMethod" value="setUrlPathHelper" /> <property name="arguments" 
		ref="urlPathHelper" /> </bean> <bean class="org.springframework.beans.factory.config.MethodInvokingBean"> 
		<property name="targetClass" value="org.springframework.web.servlet.config.annotation.DefaultServletHandlerConfigurer" 
		/> <property name="targetMethod" value="enable" /> </bean> -->



</beans>